!!!
%html
  %head    
    / %link(rel="stylesheet" type="text/css" href="css/main.css")
    %style(type="text/css")
      != File.read("static/css/main.css")
    %meta(name="viewport" content="width=device-width")
  %body
    #container
      #header
        #logo
          %a(href='http://critterkins.com' alt='CritterKins logo')
            != File.read("static/images/logo-big.svg")
        #kickstarter
          %a(href="http://www.kickstarter.com/projects/crittercase/1771170582?token=f181f8c4" alt='Find out more at our Kickstarter Project site' style='text-decoration: none')
            != File.read('static/images/findoutmore-ks.svg')
      #content
        #slides
          / != File.read('static/images/bigCritterMain.svg')
          %img(src='images/slides/3.jpg')
          %img(src='images/slides/1.jpg')
          %img(src='images/slides/2.jpg')
        #msg
          %span
            Create your own CritterKin iPhone skin characters with multicolor
            paper skins and self-adhesive details.
      #footer
        .center &copy; Copyright 2013,  Turaro, LLC, and CritterKins. All Rights Reserved.
    %script(type="text/javascript")
      != File.read("static/js/jquery.min.js")
      != File.read("static/js/jquery.slides.min.js")
    :javascript
      $(function() {
        $('#slides').slidesjs({
          width: 940,
          height: 705,
          play: {
            active: true,
            auto: true,
            interval: 4000,
            swap: true
          }
        });
      });
      $(function() {
        var h = $('#slides').css('height');
        if (parseInt(h) > 275) {
          console.log(h);
          $('#msg').css('height', h).css('line-height',h);
        } else {
          $('#msg').css('padding-top', '20px').css('padding-bottom','20px');
        }
      });

